@import "ember-bootstrap/bootstrap";

@function headings($from:1, $to:6) {
  @if $from == $to {
      @return 'h#{$from}';
  } @else {
      @return 'h#{$from},' + headings($from+1, $to);
  }
}


.form-control, .bottom-margin {
  margin-bottom: 1.25rem;
}

h1, h2 {
  font: {
    weight: bold;
  }
}

.proj-panel-head {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  a {
    display: inline-block;
    padding-right:10px;
    h2 {
      margin: 0;
    }
  }
}

.project-view-heading {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  h1 {
    display: inline-block;
    margin: 0;
    padding-right: 10px
  }
}

.project-view {
  margin-bottom: 15px;

  &-date-info {
    padding: 5px;
    font-weight: bold;
    margin: 0;
  }
  &-info-heading {
    font: {
      weight: bold;
      size: 2rem;
    }
  }
  &-info{
    white-space: pre-wrap;
    font-size: 2rem;
  }
}

.landing-container {
  display: flex;
  width: 100%;
  height: 100vh;
  vertical-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  .landing-page {
    width: 50vw;
  }
  .heading {
    width: 100%;
  }
  .content{
    line-height: 2.5rem;
    width:100%;
  }
}





