{{#if isAuthenticated}}
<h1>Welcome back!</h1>
<h4>This is a project manager designed to give you a start date based on how long the project will be,and tells you important date information. {{#link-to 'projects'}}View your projects here.{{/link-to}}</h4>
{{else}}
<h1 {{action 'test'}} >Welcome to MyProjectManager</h1>
<h4>This is a project manager designed to give you a start date based on how long the project will be,and tells you important date information. {{#link-to "sign-in"}}Sign in{{/link-to}} or {{#link-to "sign-up"}}sign up{{/link-to}} and start adding your projects!</h4>

{{/if}}